{% extends "layout.html" %}

{% block page_title %}
  Event costs
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
  <div class="column-full">
    <br>
    <br>

    <form class="form" method="" novalidate>

      <div class="form-group" data-required="Please answer this question">
        <label class="form-label" for="tickets-cost">
           <h1 class="heading-large">
             How much are the tickets for your event?
           </h1>
           <span class="form-hint">For example, £32.99</span>
         </label>
         <div class="form-control-3-4">
           <div class="govuk-currency-input">
             <div class="govuk-currency-input__inner">
               <span class="govuk-currency-input__inner__unit">£</span>
               <input class="govuk-currency-input__inner__input form-control form-control-1-4" aria-label="Enter amount in pounds" name="tickets-cost" data-non-numeric type="text" id="tickets-cost" pattern="[0-9]\d*(\.\d+)?" {{ checked('tickets-cost','yes') }}>
             </div>
           </div>
         </div>
       </div>
       <div class="form-group">
         <input class="button" type="submit" value="Continue">
       </div>
     </form>

  </div>
</div>
</main>

{% endblock %}
